*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}
#output{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1rem;
    margin-top:20px;
    flex-direction:column;
}
.btn{

    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right,#333 0%, #7a7a78 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 9em;
   }
